@function getDividedGutters($gutter, $negative: false) {
  $gutter-before: ceil($gutter / 2);
  $gutter-after: floor($gutter / 2);

  @if index(('em', '%'), unit($gutter)) {
    $gutter-before: $gutter / 2;
    $gutter-after: $gutter-before;
  }

  $negative-operator: if($negative, -1, 1);

  @return (
    'before': $gutter-before * $negative-operator,
    'after': $gutter-after * $negative-operator,
  );
}

@function breadcrumbs--list-gutter-row($value, $flags) {
  $divided-gutter: getDividedGutters($value, true);

  $gutter-before: map-get($divided-gutter, 'before');
  $gutter-after: map-get($divided-gutter, 'after');

  @debug $flags;

  @return (
    ('margin-top', $gutter-before),
    ('margin-bottom', $gutter-after),
    ('margin-left', $gutter-before),
    ('margin-right', $gutter-after),
  );
}

@function breadcrumbs--list-gutter-col($value, $flags) {
  $divided-gutter: getDividedGutters($value);

  $gutter-before: map-get($divided-gutter, 'before');
  $gutter-after: map-get($divided-gutter, 'after');

  @return (
    ('padding-top', $gutter-before),
    ('padding-bottom', $gutter-after),
    ('padding-left', $gutter-before),
    ('padding-right', $gutter-after),
  );
}

@function breadcrumbs--separator-gutter($value, $flags) {
  $divided-gutter: getDividedGutters($value);

  $gutter: map-get($divided-gutter, 'after');

  @return (
    ('padding-right', $gutter),
  );
}
